@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(59, 55, 55);
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 86%;
    margin: 0 auto;
}


/*=======================
 Container 
 ========================*/

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-2 {
    background-color: white;
}

.container-3 {
    padding: 5% 10%;
}


/*=================================
  Header styling starts here
=================================*/

.bgimg {
    background-image: url("../img/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
    height: 500px;
    position: relative;
    overflow: auto;
}

.head-text {
    padding: 50px;
    color: white;
    text-shadow: black 1px 1px;
}

.head-text h1 {
    text-transform: uppercase;
    text-shadow: black 1px 3px;
    font-weight: bolder;
    font-size: 4em;
}

.head-text p {
    padding-top: 10px;
}

.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar ul {
    background-color: rgba(66, 52, 52, 0.253);
    width: 100%;
    border-bottom: 5px solid rgb(66, 29, 151);
}

.navbar ul li {
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 19%;
    font-weight: bolder;
}

.navbar ul li:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}

div h2 {
    font-weight: bold;
    font-size: 2em;
    padding: 10px 0px 10px;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/

.img-col-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-col-1 ul {
    text-align: center;
}

.img-col-1 img {
    width: 80%;
    height: 200px;
}

.nav-buttons {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-buttons .button {
    background-color: #8b8f8b;
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.nav-buttons .button:hover {
    background-color: darkgoldenrod;
}

.box {
    float: left;
    margin-right: 15px;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(207, 232, 220);
    padding: 1em;
    margin: 1em;
}

.special {
    padding-top: 1em;
    padding-bottom: 1em;
}

.special button {
    background-color: #859285a1;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.special button:hover {
    background-color: darkgoldenrod;
}

.float-container {
    background-color: rgb(79, 185, 227);
    padding: 10px;
    color: #fff;
}

.float-container::after {
    content: "";
    clear: both;
    display: block;
}

figure figcaption {
    margin: 10px 0px 10px
}


/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/

.footer-text {
    padding: 15px 0px 15px;
    clear: left;
    color: white;
    text-align: center;
}


/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {}

@media only screen and (max-width: 700px) {
    .bgimg {
        height: 250px;
    }
}

@media only screen and (min-width: 850px) {
    .img-col-1 ul {
        display: flex;
    }
}